{% extends 'main/base.html' %}  
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="contact-page">
    <h1>Контакты и обратная связь</h1>
    
    <div class="contact-info">
        <div class="contact-card">
            <h3>Общая информация</h3>
            <p>Сайт создан в 2026 году. Сеченовский университет.</p>
        </div>
        
        <div class="contact-card">
            <h3>Электронная почта</h3>
            <p>По общим вопросам: gavrilina_a_d@student.sechenov.ru</p>
        </div>
        
    </div>
    
    <div class="disclaimer">
        <h3>Важная информация</h3>
        <p>Данный сайт является образовательным ресурсом и не заменяет консультацию врача.</p>
    </div>
    
</div>
{% endblock %}